#treeTop {
  background-color: #ada;
}

#treeTree {
  background-color: #737373;
}

#treeCont {
  padding: 10px;
}

#tStatCont {
  background-color: #363636;
  padding: 20px 50px;
}

#treeWrap {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.treeSub {
  flex: 1 100%;
}

/* Medium screens */
@media all and (min-width: 1200px) {
  /* We tell both sidebars to share a row */
  #treeCont {
    flex: 2 auto;
  }

  #tStatCont {
    flex: 0 auto;
  }
}
.runeDDItem {
  flex: 1 auto;
  max-width: 130px;
  min-width: 120px;
  text-align: center;
}

.runeDD {
  flex-flow: row wrap;
  width: 400px;
  background-color: #464646;
  padding: 5px;
}

.runeDD.show {
  display: flex;
}

.runeDDItem:hover {
  background-color: #545454;
  border-radius: 5px;
}

#bigRunes {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.bigRune:not(.collapsed) {
  box-shadow: 0px 0px 0 2px #ffbb00;
}

/*
.runeSel{
	flex: 1 auto;
}*/
.smRune, .bigRune {
  background-color: #545454;
  padding: 2px 7px;
  margin: 5px;
}

.smRune img {
  opacity: 0.5;
  width: 32px;
}

.smRune.active img {
  opacity: 1;
}

.dropdown img {
  width: 64px;
}

.dropdown-toggle::after {
  display: none;
}

.classDDItem {
  flex: 1 auto;
  max-width: 110px;
  min-width: 100px;
  text-align: center;
}

#classDD {
  flex-flow: row wrap;
  width: 550px;
  background-color: #464646;
  padding: 5px;
  justify-content: space-around;
}

#classDD.show {
  display: flex;
}

.classDDItem:hover {
  background-color: #545454;
  border-radius: 5px;
}

.classDDBtn {
  background-color: #545454;
  padding: 2px 7px;
  margin: 5px;
}

.classDDBtn:not(.collapsed) {
  box-shadow: 0px 0px 0 2px #ffbb00;
}

#charFrame {
  display: flex;
  flex-flow: row wrap;
}

#equipSlots {
  display: flex;
  flex-flow: row wrap;
}

.equipDDItem {
  flex: 1 auto;
  max-width: 110px;
  min-width: 100px;
  text-align: center;
}

#equipSlots .dropdown-menu {
  flex-flow: row wrap;
  width: 350px;
  background-color: #464646;
  padding: 5px;
  justify-content: space-around;
}

#equipSlots .dropdown-menu.show {
  display: flex;
}

.equipDDItem:hover {
  background-color: #545454;
  border-radius: 5px;
}

#equipSlots button.dropdown-toggle {
  background-color: #545454;
  padding: 2px 7px;
  margin: 5px;
}

#equipSlots button.dropdown-toggle:not(.collapsed) {
  box-shadow: 0px 0px 0 2px #ffbb00;
}

.abilityDDBtn, .armorDDBtn {
  border-radius: 0;
}

.weaponDDBtn {
  border-radius: 5px 0 0 5px;
  background-color: #0f0;
}

.ringDDBtn {
  border-radius: 0 5px 5px 0;
  background-color: #0f0;
}

#equipSlots .dropdown {
  margin: 0 -5px 0 0;
}

.statBar {
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 10px;
  text-align: center;
}

#hpBar {
  background-color: #ee3434;
}

#mpBar {
  background-color: #6688ee;
}

#mainStats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 10px;
}

#mainStats div {
  flex: 1 50%;
  text-align: center;
}

#equipStatCont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 400px;
}

.equipStat {
  flex: 1 auto;
}

.equipStat input {
  max-width: 100px;
}

.wepStatTitle {
  flex: 1 100%;
}

#advancedStats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 10px;
}

#advancedStats div {
  flex: 1 50%;
  text-align: center;
}

/* tree tiles */
.tileWrap {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  position: relative;
  flex-basis: calc(7.6% );
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.6;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.tile::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.tileCont {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  border: solid 0.4em #363636;
  border-radius: 0.7em;
}

.tileName {
  position: absolute;
  top: 0;
  margin-top: -5px;
  width: 100%;
}

.tileValue {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -5px;
}

.start[data-value=adep] {
  background: url("../img/starts/adep.png") no-repeat center;
}

.start[data-value=butch] {
  background: url("../img/starts/butch.png") no-repeat center;
}

.start[data-value=infi] {
  background: url("../img/starts/infi.png") no-repeat center;
}

.start[data-value=jugg] {
  background: url("../img/starts/jugg.png") no-repeat center;
}

.start[data-value=loot] {
  background: url("../img/starts/loot.png") no-repeat center;
}

.start[data-value=mani] {
  background: url("../img/starts/mani.png") no-repeat center;
}

.start[data-value=sent] {
  background: url("../img/starts/sent.png") no-repeat center;
}

.start[data-value=surv] {
  background: url("../img/starts/surv.png") no-repeat center;
}

.tile:hover {
  opacity: 0.9;
}

.activeNode {
  opacity: 1;
}

.vit .tileCont {
  background: url("../img/nodes/vit.png") no-repeat center;
}

.vit.activeNode .tileCont {
  border-color: #ec1313;
}

.vitPre .tileCont {
  background: url("../img/nodes/vitPre.png") no-repeat center;
}

.vitPre.activeNode .tileCont {
  border-color: #b81414;
}

.dex .tileCont {
  background: url("../img/nodes/dex.png") no-repeat center;
}

.dex.activeNode .tileCont {
  border-color: #ff4000;
}

.dexPre .tileCont {
  background: url("../img/nodes/dexPre.png") no-repeat center;
}

.dexPre.activeNode .tileCont {
  border-color: #cc3300;
}

.lootPre .tileCont {
  background: url("../img/nodes/lootPre.png") no-repeat center;
}

.lootPre.activeNode .tileCont {
  border-color: #ff794d;
}

.mp .tileCont {
  background: url("../img/nodes/mp.png") no-repeat center;
}

.mp.activeNode .tileCont {
  border-color: #ffff80;
}

.mpPre .tileCont {
  background: url("../img/nodes/mpPre.png") no-repeat center;
}

.mpPre.activeNode .tileCont {
  border-color: #ebeb47;
}

.eva .tileCont {
  background: url("../img/nodes/eva.png") no-repeat center;
}

.eva.activeNode .tileCont {
  border-color: #c9fa38;
}

.evaPre .tileCont {
  background: url("../img/nodes/evaPre.png") no-repeat center;
}

.evaPre.activeNode .tileCont {
  border-color: #ace600;
}

.spd .tileCont {
  background: url("../img/nodes/spd.png") no-repeat center;
}

.spd.activeNode .tileCont {
  border-color: #4dbd28;
}

.spdPre .tileCont {
  background: url("../img/nodes/spdPre.png") no-repeat center;
}

.spdPre.activeNode .tileCont {
  border-color: #418a28;
}

.hp .tileCont {
  background: url("../img/nodes/hp.png") no-repeat center;
}

.hp.activeNode .tileCont {
  border-color: #30e8e8;
}

.hpPre .tileCont {
  background: url("../img/nodes/hpPre.png") no-repeat center;
}

.hpPre.activeNode .tileCont {
  border-color: #14b8b8;
}

.wis .tileCont {
  background: url("../img/nodes/wis.png") no-repeat center;
}

.wis.activeNode .tileCont {
  border-color: #2559f4;
}

.wisPre .tileCont {
  background: url("../img/nodes/wisPre.png") no-repeat center;
}

.wisPre.activeNode .tileCont {
  border-color: #1236a1;
}

.rof .tileCont {
  background: url("../img/nodes/rof.png") no-repeat center;
}

.rof.activeNode .tileCont {
  border-color: #cc667f;
}

.atk .tileCont {
  background: url("../img/nodes/atk.png") no-repeat center;
}

.atk.activeNode .tileCont {
  border-color: #e830e8;
}

.atkPre .tileCont {
  background: url("../img/nodes/atkPre.png") no-repeat center;
}

.atkPre.activeNode .tileCont {
  border-color: #c91dc9;
}

.def .tileCont {
  background: url("../img/nodes/def.png") no-repeat center;
}

.def.activeNode .tileCont {
  border-color: #cccccc;
}

.defPre .tileCont {
  background: url("../img/nodes/defPre.png") no-repeat center;
}

.defPre.activeNode .tileCont {
  border-color: #a6a6a6;
}

/*# sourceMappingURL=tree.css.map */
