extends ../layout

block content
	section.row
		.container
			label#usrNameLbl name
			input#usrName.form-control(type="text")
			label#usrPwdLbl pw
			input#usrPwd.form-control(type="password")
			button#login.form-control(onClick="login()") Login
