extends ../layout

block content
	section.row
		.container
			label#usrPwdLbl pw
			input#usrPwd.form-control(type="password")
			br
			label#pwdRepLbl rep pw
			input#pwdRep.form-control(type="password")
			br
			button#resetBtn(onClick="reset()") reset