body{
	background-color: #cdc;
}

.container{
	background-color: #fff;
}

#mainCont{
  padding: 30px;
}

.navbar{
	margin:0;
}

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-wrapper
{
    min-height:50px;
}

#header{
	height:400px;
	min-height: 400px;
}
#headerImg{
	height: 500px;
	background: url("https://jovinacooksitalian.files.wordpress.com/2015/02/lighter6.jpg") no-repeat center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}





#test{
	height: 1000px;
}