
a{
	color: #00B7FF;
}

body{
	background-color: #cdc;
	margin-top: 55px;
}

.container{
	padding: 60px 30px;
}

#mainCont{
}



section{
	background-color: #dda;
}

#treeTop{
	background-color: #ada
}

#treeTree{
	background-color: #8b8
}

#tStat{
	background-color: #ada
}


/*
#header{
	height:400px;
	min-height: 400px;
}
#headerImg{
	height: 500px;
	background: url("https://jovinacooksitalian.files.wordpress.com/2015/02/lighter6.jpg") no-repeat center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
*/




